Options -Indexes

RewriteEngine On

RewriteRule ^src(/|$) - [F,L]

RewriteRule ^$ public/abstract.php [L]
RewriteRule ^index\.php$ public/abstract.php [L]
RewriteRule ^assets/(.*)$ public/assets/$1 [L]
RewriteRule ^(abstract|team|publication|event|results)\.php$ public/$1.php [L]
